@use "./components/Taskbar.scss";
@use "./components/StartMenu.scss";
@use "./components/DesktopIcons.scss";
@use "./components/windows/Window.scss";
@use "./fonts.scss";

* {
  font-family: "W95FA", sans-serif;
}

main {
  position: relative;
  overflow: hidden;

  height: 100vh;
  max-height: 100vh;

  background-color: #2E8181;
}

button, a, label {
  cursor: pointer;
}
