.taskbar {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid white;
  background-color: #C0C0C0;
}
.taskbar__menu-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90px;
  margin-left: 5px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  background-color: #C0C0C0;
  font-size: 20px;
}
.taskbar__menu-btn--active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90px;
  margin-left: 5px;
  border: 2px inset;
  background-color: #C0C0C0;
  font-size: 20px;
}
.taskbar__time {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 100%;
  width: 100px;
  margin-right: 5px;
  border: 2px inset;
  font-size: 20px;
  background-color: #D9D9D9;
}

.start-menu {
  position: absolute;
  bottom: 40px;
  left: 5px;
  z-index: 1;
  display: flex;
  height: 400px;
  width: 300px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #C0C0C0;
}
.start-menu--inactive {
  display: none;
}
.start-menu__banner {
  height: 100%;
  width: 40px;
  background-color: #817F85;
}
.start-menu__banner__name {
  transform: translateY(305px) translateX(3px) rotate(-90deg);
  color: white;
  font-size: 44px;
}
.start-menu__app-drawer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.start-menu__app-drawer .app-drawer__programs {
  display: flex;
  flex-direction: column;
  height: 85%;
  max-width: 100%;
}
.start-menu__app-drawer .app-drawer__programs .programs__item {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 2rem;
}
.start-menu__app-drawer .app-drawer__programs .programs__item:hover {
  color: white;
  background-color: blue;
}
.start-menu__app-drawer .app-drawer__programs .programs__item__icon {
  height: 40px;
}
.start-menu__app-drawer .app-drawer__programs .programs__item__text {
  margin-left: 2rem;
  font-size: 20px;
}
.start-menu__app-drawer .app-drawer__shut-down {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-top: 2px solid #9E9A9C;
  background-color: #C0C0C0;
}
.start-menu__app-drawer .app-drawer__shut-down:hover {
  color: white;
  background-color: blue;
}
.start-menu__app-drawer .app-drawer__shut-down .shut-down__icon {
  height: 40px;
}
.start-menu__app-drawer .app-drawer__shut-down .shut-down__text {
  margin-left: 2rem;
  font-size: 20px;
}

.desktop-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  height: 300px;
  padding-left: 2rem;
  color: white;
}
.desktop-icons .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50px;
  max-height: 50px;
  text-align: center;
}
.desktop-icons .icon button {
  border: none;
}
.desktop-icons .icon-img {
  background-color: transparent;
}
.desktop-icons .about-me-icon {
  margin-bottom: 1rem;
}
.desktop-icons .about-me-icon img {
  width: 50px;
}
.desktop-icons .projects-icon img {
  width: 50px;
}
.desktop-icons .contact-icon img {
  max-height: 50px;
}

.window {
  padding: 4px 7px 6px 7px;
  border-top: white solid 1px;
  border-left: white solid 1px;
  border-bottom: black solid 2px;
  border-right: black solid 2px;
  background-color: #c2c0c1;
}
.window__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.window__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: #817F85;
}
.window__header__details {
  display: flex;
  align-items: center;
}
.window__header__icon {
  max-height: 28px;
}
.window__header__title {
  margin: 0;
  font-size: 16px;
  color: white;
}
.window__header__control-buttons {
  display: flex;
}
.window__header__control-buttons .control-buttons__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  aspect-ratio: 1;
  background-color: #D9D9D9;
}
.window__main {
  height: 100%;
  width: 100%;
  background-color: white;
  overflow: scroll;
}
.window__footer {
  height: 20px;
  width: 100%;
}

.about-me {
  padding: 1rem;
}
.about-me__heading {
  font-size: 36px;
}
.about-me__text {
  font-size: 20px;
}

@font-face {
  font-family: "W95FA";
  src: url("../assets/fonts/W95FA.otf");
}
* {
  font-family: "W95FA", sans-serif;
}

.app__main {
  position: relative;
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
  background-color: #2E8181;
}

button, a, label {
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
