.taskbar {
  position: absolute;
  bottom: 0;
  z-index: 98;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 40px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;

  border-top: 1px solid white;
  background-color: #C0C0C0;

  &__menu-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90px;
    margin-left: 5px;

    border-left: 1px solid white;
    border-top: 1px solid white;
    background-color: #C0C0C0;
    font-size: 20px;

    &--active {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 90px;
      margin-left: 5px;

      border: 2px inset;
      background-color: #C0C0C0;
      font-size: 20px;
    }
  }

  &__open-apps {
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 0.25rem;

    &__window {
      display: block;

      width: 130px;
      height: 100%;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      border-left: 1px solid white;
      border-top: 1px solid white;
      background-color: #C0C0C0;
    }
  }

  &__time {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    max-height: 100%;
    width: 100px;
    margin-right: 5px;

    border: 2px inset;
    font-size: 20px;
    background-color: #D9D9D9;
  }
}
