.projects {
  padding: 1rem;

  &__icons {
    display: flex;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;

      border: none;
      background-color: inherit;

      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }
}
