.window {
  // position: absolute;
  // left: 50%;
  // top: 50%;


  height: 400px;
  width: 600px;
  padding: 4px;

  border-top: white solid 1px;
  border-left: white solid 1px;
  border-bottom: black solid 2px;
  border-right: black solid 2px;
  background-color: #c2c0c1;

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
  }

  &__header {
    height: 30px;
    width: 100%;
    background-color: #817F85;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

.pointer-events-none {
  pointer-events: none;
}
